html, body, div, form, h1, h2, h3, h4, h5, h6, ul, li, p, input, label, fieldset, form {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
}

html, body{ 
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	font-size: 14px;
}

.clearfix::after {
	clear: both;
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
}

ul { list-style-type: none; }

.btn {
	float: right;
	margin-right: 50px;
	width: 80px;
	height: 35px;
	color: #fff;
	background-color: #004080;
	text-align: center;
}

fieldset {
	width: 400px;
	padding: 15px 20px;
	border: 1px solid #F2F2F0;
	border-width: 1px 0 0 0;
	/*background-color: #0080C0;*/
	opacity: 0.8;
}

legend {
	margin-left: 20px;
	padding: 0 20px;
	font-size: 16px;
}

.form {
	margin: 140px auto 40px;
	width: 900px;
}

.form fieldset {
	width: 900px;
}

.form-group {
	float: left;
	margin-bottom: 10px;
	width: 450px;
	overflow: hidden;
}

.form-group-check .group input,
.form-group-check .group label,
.form-group label,
.form-group input,
.form-group textarea,
.form-group select {
	float: right;
	line-height: 26px;
}

.form-group-check .group input[type="checkbox"] {
	margin-top: 7px;
	margin-right: 5px;
}

.form-group-check .group input[type="text"],
.form-group input,
.form-group textarea,
.form-group select {
	margin: 0 15px;
	width: 250px;
	height: 26px;
	text-indent: 8px;
}

.form-group textarea {
	width: 245px;
	height: 60px;
	line-height: 16px;
}

.form-group label {
	width: 150px;
	text-align: right;
	display: block;
}

.inner-form {
	float: left;
	margin-bottom: 20px;
	padding-bottom: 10px;
	width: 900px;
	border-left: 1px solid #E6E7E2;
}

.inner-form h3 {
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	padding-left: 40px;
	margin: 10px 0;
}

.form-group-check {
	margin: 0 20px;
	display: inline-block;
}

/*.form-group-check label {
	width: 80px;
	text-align: center;
	display: inline-block;
}*/

.form-group-check .group {
	position: relative;
	top: 7px;
	overflow: hidden;
}

.inner-form .form-group textarea.check-show {
	float: left;
	margin-left: 129px;
	width: 289px;
	height: 60px;
	padding: 5px 0 5px 15px;
	background-color: #FFF;
}

.inner-form .form-group textarea.check-show  label {
	float: right;
	margin-right: 15px;
	width: 30px;
}

.check-group {
	float: left;
	width: 450px;
}

#wrapper, body {
	width: 100%;
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B4DAEF), color-stop(1, #63B5DD));*/
	background-color: #64B6DD;
}

#wrapper > nav {
	width: 100%;
	background-color: #0080C0;
}

#wrapper > nav .inner {
	margin: 0 auto;
	width: 1100px;
	height: 40px;
	line-height: 40px;
	background-color: #0080C0;
}

#wrapper > nav ul {
	float: left;
	width: 310px;
}

#wrapper > nav ul li{
	float: left;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

#wrapper > nav ul li.current {
	color: #000;
	background-color: #FFF;
}


#user {
	float: right;
	width: 200px;
	text-align: right;
}

.username {
	margin-right: 10px;
	color: #fff;
}

.logout {
	cursor: pointer;
}

#content {
	margin: 0 auto;
	width: 1100px;
}

.hidden {
	display: none !important;
}

#search{
	float: left;
	margin-left: 85px;
	width: 500px;
	height: 40px;
	line-height: 40px;
	text-align: left;
}

#search form {
	height: 40px;
	font-size: 12px;
}

#search input,
#search label,
#search .dropdown {
	height: 25px;
}

#search input {
	width: 250px;
	line-height: 25px;
	text-indent: 8px;
}

#search label {
	position: relative;
	top: 1px;
	left: -8px;
	width: 80px;
	line-height: 25px;
	text-align: center;
	color: #FFF;
	background-color: #24486C;
	cursor: pointer;
	display: inline-block;
}

#search .dropdown {
	position: relative;
	top: 8px;
	left: -4px;
	width: 80px;
	background-color: #408080;
	display: inline-block;
	cursor: pointer;
}

#search .dropdown p {
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	overflow: hidden;
}

.current {
	display: block;
}

#wrapper #search .dropdown .dropdownContent {
	position: absolute;
	top: 39px;
	left: 0;
	width: 100px;
	background-color: #408080;
	z-index: 999;
}

#wrapper #search .dropdown .dropdownContent li {
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	color: #AFAFAF;	
}

#wrapper #search .dropdown .dropdownContent li:hover {
	color: #000;
	background-color: #fff;
} 

#wrapper #search .dropdown .dropdownContent li+li {
	border-top: 1px solid #FFFFFF;
}

table {
	margin: 0 auto;
	width: 800px;
	background-color: #F2EDED;
}

thead {
	background-color: #408080;
}

td {
	text-align: center;
}

.color {
	background-color: #6DB6B6;
}

#case1 form,
#case2 form,
#case3 form {
	margin-top: 40px;
}