<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xhome.ly.mapper.Case3Mapper" >
  <resultMap id="BaseResultMap" type="org.xhome.ly.bean.Case3" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="interrogation_record_id" property="interrogationRecordId" jdbcType="INTEGER" />
    <result column="operation_data" property="operationData" jdbcType="TIMESTAMP" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="operator_detail" property="operatorDetail" jdbcType="VARCHAR" />
    <result column="af_type" property="afType" jdbcType="VARCHAR" />
    <result column="af_course_disease" property="afCourseDisease" jdbcType="VARCHAR" />
    <result column="arrhythmia_diagnose" property="arrhythmiaDiagnose" jdbcType="VARCHAR" />
    <result column="electrophysiology_diagnose" property="electrophysiologyDiagnose" jdbcType="VARCHAR" />
    <result column="postoperation_diagnose" property="postoperationDiagnose" jdbcType="VARCHAR" />
    <result column="la_bore" property="laBore" jdbcType="VARCHAR" />
    <result column="lv_bore" property="lvBore" jdbcType="VARCHAR" />
    <result column="lvef_bore" property="lvefBore" jdbcType="VARCHAR" />
    <result column="ra_bore" property="raBore" jdbcType="VARCHAR" />
    <result column="rv_bore" property="rvBore" jdbcType="VARCHAR" />
    <result column="ucg_remarks" property="ucgRemarks" jdbcType="VARCHAR" />
    <result column="anti_arrhythmia_drugs" property="antiArrhythmiaDrugs" jdbcType="VARCHAR" />
    <result column="invali_danti_arrhythmia_drugs" property="invaliDantiArrhythmiaDrugs" jdbcType="VARCHAR" />
    <result column="merger_arrhythmia" property="mergerArrhythmia" jdbcType="VARCHAR" />
    <result column="imaging_inside_heart" property="imagingInsideHeart" jdbcType="VARCHAR" />
    <result column="induced_way" property="inducedWay" jdbcType="VARCHAR" />
    <result column="check_medication" property="checkMedication" jdbcType="VARCHAR" />
    <result column="tachycardia_regulation" property="tachycardiaRegulation" jdbcType="VARCHAR" />
    <result column="ccl" property="ccl" jdbcType="VARCHAR" />
    <result column="inspection_method" property="inspectionMethod" jdbcType="VARCHAR" />
    <result column="ablation_procedure" property="ablationProcedure" jdbcType="VARCHAR" />
    <result column="ablation_lines" property="ablationLines" jdbcType="VARCHAR" />
    <result column="target_position" property="targetPosition" jdbcType="VARCHAR" />
    <result column="ablation_energy" property="ablationEnergy" jdbcType="VARCHAR" />
    <result column="ablation_judgement" property="ablationJudgement" jdbcType="VARCHAR" />
    <result column="ablation_end_point" property="ablationEndPoint" jdbcType="VARCHAR" />
    <result column="discharge_time" property="dischargeTime" jdbcType="VARCHAR" />
    <result column="xray_exposure_time" property="xrayExposureTime" jdbcType="VARCHAR" />
    <result column="ablation_times" property="ablationTimes" jdbcType="INTEGER" />
    <result column="intraoperative_cable_rate" property="intraoperativeCableRate" jdbcType="VARCHAR" />
    <result column="before_heart_rate" property="beforeHeartRate" jdbcType="VARCHAR" />
    <result column="before_rr" property="beforeRr" jdbcType="VARCHAR" />
    <result column="before_af" property="beforeAf" jdbcType="VARCHAR" />
    <result column="before_remarks" property="beforeRemarks" jdbcType="VARCHAR" />
    <result column="in_heart_rate" property="inHeartRate" jdbcType="VARCHAR" />
    <result column="in_rr" property="inRr" jdbcType="VARCHAR" />
    <result column="in_af" property="inAf" jdbcType="VARCHAR" />
    <result column="in_remarks" property="inRemarks" jdbcType="VARCHAR" />
    <result column="global_remarks" property="globalRemarks" jdbcType="VARCHAR" />
    <result column="keyword1" property="keyword1" jdbcType="VARCHAR" />
    <result column="keyword2" property="keyword2" jdbcType="VARCHAR" />
    <result column="keyword3" property="keyword3" jdbcType="VARCHAR" />
    <result column="operation_number" property="operationNumber" jdbcType="VARCHAR" />
    <result column="case_number" property="caseNumber" jdbcType="VARCHAR" />
    <result column="af_frequency" property="afFrequency" jdbcType="VARCHAR" />
    <result column="af_every_attack_time" property="afEveryAttackTime" jdbcType="VARCHAR" />
    <result column="af_last_attack_time" property="afLastAttackTime" jdbcType="VARCHAR" />
    <result column="cardioversion_method" property="cardioversionMethod" jdbcType="VARCHAR" />
    <result column="cardioversion_medication" property="cardioversionMedication" jdbcType="VARCHAR" />
    <result column="complication" property="complication" jdbcType="VARCHAR" />
    <result column="before_antioagulant" property="beforeAntioagulant" jdbcType="VARCHAR" />
    <result column="la_thrombus_detection" property="laThrombusDetection" jdbcType="VARCHAR" />
    <result column="test_method" property="testMethod" jdbcType="VARCHAR" />
    <result column="lung_vein" property="lungVein" jdbcType="VARCHAR" />
    <result column="gp_ablation" property="gpAblation" jdbcType="VARCHAR" />
    <result column="vagal_reflex" property="vagalReflex" jdbcType="VARCHAR" />
    <result column="intraoperative_vagus_reflex_areas" property="intraoperativeVagusReflexAreas" jdbcType="VARCHAR" />
    <result column="before_re" property="beforeRe" jdbcType="VARCHAR" />
    <result column="in_re" property="inRe" jdbcType="VARCHAR" />
    <result column="af_duration" property="afDuration" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, interrogation_record_id, operation_data, operator_name, operator_detail, 
    af_type, af_course_disease, arrhythmia_diagnose, electrophysiology_diagnose, postoperation_diagnose, 
    la_bore, lv_bore, lvef_bore, ra_bore, rv_bore, ucg_remarks, anti_arrhythmia_drugs, 
    invali_danti_arrhythmia_drugs, merger_arrhythmia, imaging_inside_heart, induced_way, 
    check_medication, tachycardia_regulation, ccl, inspection_method, ablation_procedure, 
    ablation_lines, target_position, ablation_energy, ablation_judgement, ablation_end_point, 
    discharge_time, xray_exposure_time, ablation_times, intraoperative_cable_rate, before_heart_rate, 
    before_rr, before_af, before_remarks, in_heart_rate, in_rr, in_af, in_remarks, global_remarks, 
    keyword1, keyword2, keyword3, operation_number, case_number, af_frequency, af_every_attack_time, 
    af_last_attack_time, cardioversion_method, cardioversion_medication, complication, 
    before_antioagulant, la_thrombus_detection, test_method, lung_vein, gp_ablation, 
    vagal_reflex, intraoperative_vagus_reflex_areas, before_re, in_re, af_duration
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from case3
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from case3
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.xhome.ly.bean.Case3" >
    insert into case3 (id, name, interrogation_record_id, 
      operation_data, operator_name, operator_detail, 
      af_type, af_course_disease, arrhythmia_diagnose, 
      electrophysiology_diagnose, postoperation_diagnose, 
      la_bore, lv_bore, lvef_bore, 
      ra_bore, rv_bore, ucg_remarks, 
      anti_arrhythmia_drugs, invali_danti_arrhythmia_drugs, 
      merger_arrhythmia, imaging_inside_heart, induced_way, 
      check_medication, tachycardia_regulation, 
      ccl, inspection_method, ablation_procedure, 
      ablation_lines, target_position, ablation_energy, 
      ablation_judgement, ablation_end_point, discharge_time, 
      xray_exposure_time, ablation_times, intraoperative_cable_rate, 
      before_heart_rate, before_rr, before_af, 
      before_remarks, in_heart_rate, in_rr, 
      in_af, in_remarks, global_remarks, 
      keyword1, keyword2, keyword3, 
      operation_number, case_number, af_frequency, 
      af_every_attack_time, af_last_attack_time, cardioversion_method, 
      cardioversion_medication, complication, 
      before_antioagulant, la_thrombus_detection, 
      test_method, lung_vein, gp_ablation, 
      vagal_reflex, intraoperative_vagus_reflex_areas, 
      before_re, in_re, af_duration
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{interrogationRecordId,jdbcType=INTEGER}, 
      #{operationData,jdbcType=TIMESTAMP}, #{operatorName,jdbcType=VARCHAR}, #{operatorDetail,jdbcType=VARCHAR}, 
      #{afType,jdbcType=VARCHAR}, #{afCourseDisease,jdbcType=VARCHAR}, #{arrhythmiaDiagnose,jdbcType=VARCHAR}, 
      #{electrophysiologyDiagnose,jdbcType=VARCHAR}, #{postoperationDiagnose,jdbcType=VARCHAR}, 
      #{laBore,jdbcType=VARCHAR}, #{lvBore,jdbcType=VARCHAR}, #{lvefBore,jdbcType=VARCHAR}, 
      #{raBore,jdbcType=VARCHAR}, #{rvBore,jdbcType=VARCHAR}, #{ucgRemarks,jdbcType=VARCHAR}, 
      #{antiArrhythmiaDrugs,jdbcType=VARCHAR}, #{invaliDantiArrhythmiaDrugs,jdbcType=VARCHAR}, 
      #{mergerArrhythmia,jdbcType=VARCHAR}, #{imagingInsideHeart,jdbcType=VARCHAR}, #{inducedWay,jdbcType=VARCHAR}, 
      #{checkMedication,jdbcType=VARCHAR}, #{tachycardiaRegulation,jdbcType=VARCHAR}, 
      #{ccl,jdbcType=VARCHAR}, #{inspectionMethod,jdbcType=VARCHAR}, #{ablationProcedure,jdbcType=VARCHAR}, 
      #{ablationLines,jdbcType=VARCHAR}, #{targetPosition,jdbcType=VARCHAR}, #{ablationEnergy,jdbcType=VARCHAR}, 
      #{ablationJudgement,jdbcType=VARCHAR}, #{ablationEndPoint,jdbcType=VARCHAR}, #{dischargeTime,jdbcType=VARCHAR}, 
      #{xrayExposureTime,jdbcType=VARCHAR}, #{ablationTimes,jdbcType=INTEGER}, #{intraoperativeCableRate,jdbcType=VARCHAR}, 
      #{beforeHeartRate,jdbcType=VARCHAR}, #{beforeRr,jdbcType=VARCHAR}, #{beforeAf,jdbcType=VARCHAR}, 
      #{beforeRemarks,jdbcType=VARCHAR}, #{inHeartRate,jdbcType=VARCHAR}, #{inRr,jdbcType=VARCHAR}, 
      #{inAf,jdbcType=VARCHAR}, #{inRemarks,jdbcType=VARCHAR}, #{globalRemarks,jdbcType=VARCHAR}, 
      #{keyword1,jdbcType=VARCHAR}, #{keyword2,jdbcType=VARCHAR}, #{keyword3,jdbcType=VARCHAR}, 
      #{operationNumber,jdbcType=VARCHAR}, #{caseNumber,jdbcType=VARCHAR}, #{afFrequency,jdbcType=VARCHAR}, 
      #{afEveryAttackTime,jdbcType=VARCHAR}, #{afLastAttackTime,jdbcType=VARCHAR}, #{cardioversionMethod,jdbcType=VARCHAR}, 
      #{cardioversionMedication,jdbcType=VARCHAR}, #{complication,jdbcType=VARCHAR}, 
      #{beforeAntioagulant,jdbcType=VARCHAR}, #{laThrombusDetection,jdbcType=VARCHAR}, 
      #{testMethod,jdbcType=VARCHAR}, #{lungVein,jdbcType=VARCHAR}, #{gpAblation,jdbcType=VARCHAR}, 
      #{vagalReflex,jdbcType=VARCHAR}, #{intraoperativeVagusReflexAreas,jdbcType=VARCHAR}, 
      #{beforeRe,jdbcType=VARCHAR}, #{inRe,jdbcType=VARCHAR}, #{afDuration,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.xhome.ly.bean.Case3" >
    insert into case3
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="interrogationRecordId != null" >
        interrogation_record_id,
      </if>
      <if test="operationData != null" >
        operation_data,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="operatorDetail != null" >
        operator_detail,
      </if>
      <if test="afType != null" >
        af_type,
      </if>
      <if test="afCourseDisease != null" >
        af_course_disease,
      </if>
      <if test="arrhythmiaDiagnose != null" >
        arrhythmia_diagnose,
      </if>
      <if test="electrophysiologyDiagnose != null" >
        electrophysiology_diagnose,
      </if>
      <if test="postoperationDiagnose != null" >
        postoperation_diagnose,
      </if>
      <if test="laBore != null" >
        la_bore,
      </if>
      <if test="lvBore != null" >
        lv_bore,
      </if>
      <if test="lvefBore != null" >
        lvef_bore,
      </if>
      <if test="raBore != null" >
        ra_bore,
      </if>
      <if test="rvBore != null" >
        rv_bore,
      </if>
      <if test="ucgRemarks != null" >
        ucg_remarks,
      </if>
      <if test="antiArrhythmiaDrugs != null" >
        anti_arrhythmia_drugs,
      </if>
      <if test="invaliDantiArrhythmiaDrugs != null" >
        invali_danti_arrhythmia_drugs,
      </if>
      <if test="mergerArrhythmia != null" >
        merger_arrhythmia,
      </if>
      <if test="imagingInsideHeart != null" >
        imaging_inside_heart,
      </if>
      <if test="inducedWay != null" >
        induced_way,
      </if>
      <if test="checkMedication != null" >
        check_medication,
      </if>
      <if test="tachycardiaRegulation != null" >
        tachycardia_regulation,
      </if>
      <if test="ccl != null" >
        ccl,
      </if>
      <if test="inspectionMethod != null" >
        inspection_method,
      </if>
      <if test="ablationProcedure != null" >
        ablation_procedure,
      </if>
      <if test="ablationLines != null" >
        ablation_lines,
      </if>
      <if test="targetPosition != null" >
        target_position,
      </if>
      <if test="ablationEnergy != null" >
        ablation_energy,
      </if>
      <if test="ablationJudgement != null" >
        ablation_judgement,
      </if>
      <if test="ablationEndPoint != null" >
        ablation_end_point,
      </if>
      <if test="dischargeTime != null" >
        discharge_time,
      </if>
      <if test="xrayExposureTime != null" >
        xray_exposure_time,
      </if>
      <if test="ablationTimes != null" >
        ablation_times,
      </if>
      <if test="intraoperativeCableRate != null" >
        intraoperative_cable_rate,
      </if>
      <if test="beforeHeartRate != null" >
        before_heart_rate,
      </if>
      <if test="beforeRr != null" >
        before_rr,
      </if>
      <if test="beforeAf != null" >
        before_af,
      </if>
      <if test="beforeRemarks != null" >
        before_remarks,
      </if>
      <if test="inHeartRate != null" >
        in_heart_rate,
      </if>
      <if test="inRr != null" >
        in_rr,
      </if>
      <if test="inAf != null" >
        in_af,
      </if>
      <if test="inRemarks != null" >
        in_remarks,
      </if>
      <if test="globalRemarks != null" >
        global_remarks,
      </if>
      <if test="keyword1 != null" >
        keyword1,
      </if>
      <if test="keyword2 != null" >
        keyword2,
      </if>
      <if test="keyword3 != null" >
        keyword3,
      </if>
      <if test="operationNumber != null" >
        operation_number,
      </if>
      <if test="caseNumber != null" >
        case_number,
      </if>
      <if test="afFrequency != null" >
        af_frequency,
      </if>
      <if test="afEveryAttackTime != null" >
        af_every_attack_time,
      </if>
      <if test="afLastAttackTime != null" >
        af_last_attack_time,
      </if>
      <if test="cardioversionMethod != null" >
        cardioversion_method,
      </if>
      <if test="cardioversionMedication != null" >
        cardioversion_medication,
      </if>
      <if test="complication != null" >
        complication,
      </if>
      <if test="beforeAntioagulant != null" >
        before_antioagulant,
      </if>
      <if test="laThrombusDetection != null" >
        la_thrombus_detection,
      </if>
      <if test="testMethod != null" >
        test_method,
      </if>
      <if test="lungVein != null" >
        lung_vein,
      </if>
      <if test="gpAblation != null" >
        gp_ablation,
      </if>
      <if test="vagalReflex != null" >
        vagal_reflex,
      </if>
      <if test="intraoperativeVagusReflexAreas != null" >
        intraoperative_vagus_reflex_areas,
      </if>
      <if test="beforeRe != null" >
        before_re,
      </if>
      <if test="inRe != null" >
        in_re,
      </if>
      <if test="afDuration != null" >
        af_duration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="interrogationRecordId != null" >
        #{interrogationRecordId,jdbcType=INTEGER},
      </if>
      <if test="operationData != null" >
        #{operationData,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorDetail != null" >
        #{operatorDetail,jdbcType=VARCHAR},
      </if>
      <if test="afType != null" >
        #{afType,jdbcType=VARCHAR},
      </if>
      <if test="afCourseDisease != null" >
        #{afCourseDisease,jdbcType=VARCHAR},
      </if>
      <if test="arrhythmiaDiagnose != null" >
        #{arrhythmiaDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="electrophysiologyDiagnose != null" >
        #{electrophysiologyDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="postoperationDiagnose != null" >
        #{postoperationDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="laBore != null" >
        #{laBore,jdbcType=VARCHAR},
      </if>
      <if test="lvBore != null" >
        #{lvBore,jdbcType=VARCHAR},
      </if>
      <if test="lvefBore != null" >
        #{lvefBore,jdbcType=VARCHAR},
      </if>
      <if test="raBore != null" >
        #{raBore,jdbcType=VARCHAR},
      </if>
      <if test="rvBore != null" >
        #{rvBore,jdbcType=VARCHAR},
      </if>
      <if test="ucgRemarks != null" >
        #{ucgRemarks,jdbcType=VARCHAR},
      </if>
      <if test="antiArrhythmiaDrugs != null" >
        #{antiArrhythmiaDrugs,jdbcType=VARCHAR},
      </if>
      <if test="invaliDantiArrhythmiaDrugs != null" >
        #{invaliDantiArrhythmiaDrugs,jdbcType=VARCHAR},
      </if>
      <if test="mergerArrhythmia != null" >
        #{mergerArrhythmia,jdbcType=VARCHAR},
      </if>
      <if test="imagingInsideHeart != null" >
        #{imagingInsideHeart,jdbcType=VARCHAR},
      </if>
      <if test="inducedWay != null" >
        #{inducedWay,jdbcType=VARCHAR},
      </if>
      <if test="checkMedication != null" >
        #{checkMedication,jdbcType=VARCHAR},
      </if>
      <if test="tachycardiaRegulation != null" >
        #{tachycardiaRegulation,jdbcType=VARCHAR},
      </if>
      <if test="ccl != null" >
        #{ccl,jdbcType=VARCHAR},
      </if>
      <if test="inspectionMethod != null" >
        #{inspectionMethod,jdbcType=VARCHAR},
      </if>
      <if test="ablationProcedure != null" >
        #{ablationProcedure,jdbcType=VARCHAR},
      </if>
      <if test="ablationLines != null" >
        #{ablationLines,jdbcType=VARCHAR},
      </if>
      <if test="targetPosition != null" >
        #{targetPosition,jdbcType=VARCHAR},
      </if>
      <if test="ablationEnergy != null" >
        #{ablationEnergy,jdbcType=VARCHAR},
      </if>
      <if test="ablationJudgement != null" >
        #{ablationJudgement,jdbcType=VARCHAR},
      </if>
      <if test="ablationEndPoint != null" >
        #{ablationEndPoint,jdbcType=VARCHAR},
      </if>
      <if test="dischargeTime != null" >
        #{dischargeTime,jdbcType=VARCHAR},
      </if>
      <if test="xrayExposureTime != null" >
        #{xrayExposureTime,jdbcType=VARCHAR},
      </if>
      <if test="ablationTimes != null" >
        #{ablationTimes,jdbcType=INTEGER},
      </if>
      <if test="intraoperativeCableRate != null" >
        #{intraoperativeCableRate,jdbcType=VARCHAR},
      </if>
      <if test="beforeHeartRate != null" >
        #{beforeHeartRate,jdbcType=VARCHAR},
      </if>
      <if test="beforeRr != null" >
        #{beforeRr,jdbcType=VARCHAR},
      </if>
      <if test="beforeAf != null" >
        #{beforeAf,jdbcType=VARCHAR},
      </if>
      <if test="beforeRemarks != null" >
        #{beforeRemarks,jdbcType=VARCHAR},
      </if>
      <if test="inHeartRate != null" >
        #{inHeartRate,jdbcType=VARCHAR},
      </if>
      <if test="inRr != null" >
        #{inRr,jdbcType=VARCHAR},
      </if>
      <if test="inAf != null" >
        #{inAf,jdbcType=VARCHAR},
      </if>
      <if test="inRemarks != null" >
        #{inRemarks,jdbcType=VARCHAR},
      </if>
      <if test="globalRemarks != null" >
        #{globalRemarks,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        #{keyword3,jdbcType=VARCHAR},
      </if>
      <if test="operationNumber != null" >
        #{operationNumber,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="afFrequency != null" >
        #{afFrequency,jdbcType=VARCHAR},
      </if>
      <if test="afEveryAttackTime != null" >
        #{afEveryAttackTime,jdbcType=VARCHAR},
      </if>
      <if test="afLastAttackTime != null" >
        #{afLastAttackTime,jdbcType=VARCHAR},
      </if>
      <if test="cardioversionMethod != null" >
        #{cardioversionMethod,jdbcType=VARCHAR},
      </if>
      <if test="cardioversionMedication != null" >
        #{cardioversionMedication,jdbcType=VARCHAR},
      </if>
      <if test="complication != null" >
        #{complication,jdbcType=VARCHAR},
      </if>
      <if test="beforeAntioagulant != null" >
        #{beforeAntioagulant,jdbcType=VARCHAR},
      </if>
      <if test="laThrombusDetection != null" >
        #{laThrombusDetection,jdbcType=VARCHAR},
      </if>
      <if test="testMethod != null" >
        #{testMethod,jdbcType=VARCHAR},
      </if>
      <if test="lungVein != null" >
        #{lungVein,jdbcType=VARCHAR},
      </if>
      <if test="gpAblation != null" >
        #{gpAblation,jdbcType=VARCHAR},
      </if>
      <if test="vagalReflex != null" >
        #{vagalReflex,jdbcType=VARCHAR},
      </if>
      <if test="intraoperativeVagusReflexAreas != null" >
        #{intraoperativeVagusReflexAreas,jdbcType=VARCHAR},
      </if>
      <if test="beforeRe != null" >
        #{beforeRe,jdbcType=VARCHAR},
      </if>
      <if test="inRe != null" >
        #{inRe,jdbcType=VARCHAR},
      </if>
      <if test="afDuration != null" >
        #{afDuration,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xhome.ly.bean.Case3" >
    update case3
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="interrogationRecordId != null" >
        interrogation_record_id = #{interrogationRecordId,jdbcType=INTEGER},
      </if>
      <if test="operationData != null" >
        operation_data = #{operationData,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorDetail != null" >
        operator_detail = #{operatorDetail,jdbcType=VARCHAR},
      </if>
      <if test="afType != null" >
        af_type = #{afType,jdbcType=VARCHAR},
      </if>
      <if test="afCourseDisease != null" >
        af_course_disease = #{afCourseDisease,jdbcType=VARCHAR},
      </if>
      <if test="arrhythmiaDiagnose != null" >
        arrhythmia_diagnose = #{arrhythmiaDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="electrophysiologyDiagnose != null" >
        electrophysiology_diagnose = #{electrophysiologyDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="postoperationDiagnose != null" >
        postoperation_diagnose = #{postoperationDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="laBore != null" >
        la_bore = #{laBore,jdbcType=VARCHAR},
      </if>
      <if test="lvBore != null" >
        lv_bore = #{lvBore,jdbcType=VARCHAR},
      </if>
      <if test="lvefBore != null" >
        lvef_bore = #{lvefBore,jdbcType=VARCHAR},
      </if>
      <if test="raBore != null" >
        ra_bore = #{raBore,jdbcType=VARCHAR},
      </if>
      <if test="rvBore != null" >
        rv_bore = #{rvBore,jdbcType=VARCHAR},
      </if>
      <if test="ucgRemarks != null" >
        ucg_remarks = #{ucgRemarks,jdbcType=VARCHAR},
      </if>
      <if test="antiArrhythmiaDrugs != null" >
        anti_arrhythmia_drugs = #{antiArrhythmiaDrugs,jdbcType=VARCHAR},
      </if>
      <if test="invaliDantiArrhythmiaDrugs != null" >
        invali_danti_arrhythmia_drugs = #{invaliDantiArrhythmiaDrugs,jdbcType=VARCHAR},
      </if>
      <if test="mergerArrhythmia != null" >
        merger_arrhythmia = #{mergerArrhythmia,jdbcType=VARCHAR},
      </if>
      <if test="imagingInsideHeart != null" >
        imaging_inside_heart = #{imagingInsideHeart,jdbcType=VARCHAR},
      </if>
      <if test="inducedWay != null" >
        induced_way = #{inducedWay,jdbcType=VARCHAR},
      </if>
      <if test="checkMedication != null" >
        check_medication = #{checkMedication,jdbcType=VARCHAR},
      </if>
      <if test="tachycardiaRegulation != null" >
        tachycardia_regulation = #{tachycardiaRegulation,jdbcType=VARCHAR},
      </if>
      <if test="ccl != null" >
        ccl = #{ccl,jdbcType=VARCHAR},
      </if>
      <if test="inspectionMethod != null" >
        inspection_method = #{inspectionMethod,jdbcType=VARCHAR},
      </if>
      <if test="ablationProcedure != null" >
        ablation_procedure = #{ablationProcedure,jdbcType=VARCHAR},
      </if>
      <if test="ablationLines != null" >
        ablation_lines = #{ablationLines,jdbcType=VARCHAR},
      </if>
      <if test="targetPosition != null" >
        target_position = #{targetPosition,jdbcType=VARCHAR},
      </if>
      <if test="ablationEnergy != null" >
        ablation_energy = #{ablationEnergy,jdbcType=VARCHAR},
      </if>
      <if test="ablationJudgement != null" >
        ablation_judgement = #{ablationJudgement,jdbcType=VARCHAR},
      </if>
      <if test="ablationEndPoint != null" >
        ablation_end_point = #{ablationEndPoint,jdbcType=VARCHAR},
      </if>
      <if test="dischargeTime != null" >
        discharge_time = #{dischargeTime,jdbcType=VARCHAR},
      </if>
      <if test="xrayExposureTime != null" >
        xray_exposure_time = #{xrayExposureTime,jdbcType=VARCHAR},
      </if>
      <if test="ablationTimes != null" >
        ablation_times = #{ablationTimes,jdbcType=INTEGER},
      </if>
      <if test="intraoperativeCableRate != null" >
        intraoperative_cable_rate = #{intraoperativeCableRate,jdbcType=VARCHAR},
      </if>
      <if test="beforeHeartRate != null" >
        before_heart_rate = #{beforeHeartRate,jdbcType=VARCHAR},
      </if>
      <if test="beforeRr != null" >
        before_rr = #{beforeRr,jdbcType=VARCHAR},
      </if>
      <if test="beforeAf != null" >
        before_af = #{beforeAf,jdbcType=VARCHAR},
      </if>
      <if test="beforeRemarks != null" >
        before_remarks = #{beforeRemarks,jdbcType=VARCHAR},
      </if>
      <if test="inHeartRate != null" >
        in_heart_rate = #{inHeartRate,jdbcType=VARCHAR},
      </if>
      <if test="inRr != null" >
        in_rr = #{inRr,jdbcType=VARCHAR},
      </if>
      <if test="inAf != null" >
        in_af = #{inAf,jdbcType=VARCHAR},
      </if>
      <if test="inRemarks != null" >
        in_remarks = #{inRemarks,jdbcType=VARCHAR},
      </if>
      <if test="globalRemarks != null" >
        global_remarks = #{globalRemarks,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        keyword1 = #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        keyword2 = #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        keyword3 = #{keyword3,jdbcType=VARCHAR},
      </if>
      <if test="operationNumber != null" >
        operation_number = #{operationNumber,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        case_number = #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="afFrequency != null" >
        af_frequency = #{afFrequency,jdbcType=VARCHAR},
      </if>
      <if test="afEveryAttackTime != null" >
        af_every_attack_time = #{afEveryAttackTime,jdbcType=VARCHAR},
      </if>
      <if test="afLastAttackTime != null" >
        af_last_attack_time = #{afLastAttackTime,jdbcType=VARCHAR},
      </if>
      <if test="cardioversionMethod != null" >
        cardioversion_method = #{cardioversionMethod,jdbcType=VARCHAR},
      </if>
      <if test="cardioversionMedication != null" >
        cardioversion_medication = #{cardioversionMedication,jdbcType=VARCHAR},
      </if>
      <if test="complication != null" >
        complication = #{complication,jdbcType=VARCHAR},
      </if>
      <if test="beforeAntioagulant != null" >
        before_antioagulant = #{beforeAntioagulant,jdbcType=VARCHAR},
      </if>
      <if test="laThrombusDetection != null" >
        la_thrombus_detection = #{laThrombusDetection,jdbcType=VARCHAR},
      </if>
      <if test="testMethod != null" >
        test_method = #{testMethod,jdbcType=VARCHAR},
      </if>
      <if test="lungVein != null" >
        lung_vein = #{lungVein,jdbcType=VARCHAR},
      </if>
      <if test="gpAblation != null" >
        gp_ablation = #{gpAblation,jdbcType=VARCHAR},
      </if>
      <if test="vagalReflex != null" >
        vagal_reflex = #{vagalReflex,jdbcType=VARCHAR},
      </if>
      <if test="intraoperativeVagusReflexAreas != null" >
        intraoperative_vagus_reflex_areas = #{intraoperativeVagusReflexAreas,jdbcType=VARCHAR},
      </if>
      <if test="beforeRe != null" >
        before_re = #{beforeRe,jdbcType=VARCHAR},
      </if>
      <if test="inRe != null" >
        in_re = #{inRe,jdbcType=VARCHAR},
      </if>
      <if test="afDuration != null" >
        af_duration = #{afDuration,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xhome.ly.bean.Case3" >
    update case3
    set name = #{name,jdbcType=VARCHAR},
      interrogation_record_id = #{interrogationRecordId,jdbcType=INTEGER},
      operation_data = #{operationData,jdbcType=TIMESTAMP},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operator_detail = #{operatorDetail,jdbcType=VARCHAR},
      af_type = #{afType,jdbcType=VARCHAR},
      af_course_disease = #{afCourseDisease,jdbcType=VARCHAR},
      arrhythmia_diagnose = #{arrhythmiaDiagnose,jdbcType=VARCHAR},
      electrophysiology_diagnose = #{electrophysiologyDiagnose,jdbcType=VARCHAR},
      postoperation_diagnose = #{postoperationDiagnose,jdbcType=VARCHAR},
      la_bore = #{laBore,jdbcType=VARCHAR},
      lv_bore = #{lvBore,jdbcType=VARCHAR},
      lvef_bore = #{lvefBore,jdbcType=VARCHAR},
      ra_bore = #{raBore,jdbcType=VARCHAR},
      rv_bore = #{rvBore,jdbcType=VARCHAR},
      ucg_remarks = #{ucgRemarks,jdbcType=VARCHAR},
      anti_arrhythmia_drugs = #{antiArrhythmiaDrugs,jdbcType=VARCHAR},
      invali_danti_arrhythmia_drugs = #{invaliDantiArrhythmiaDrugs,jdbcType=VARCHAR},
      merger_arrhythmia = #{mergerArrhythmia,jdbcType=VARCHAR},
      imaging_inside_heart = #{imagingInsideHeart,jdbcType=VARCHAR},
      induced_way = #{inducedWay,jdbcType=VARCHAR},
      check_medication = #{checkMedication,jdbcType=VARCHAR},
      tachycardia_regulation = #{tachycardiaRegulation,jdbcType=VARCHAR},
      ccl = #{ccl,jdbcType=VARCHAR},
      inspection_method = #{inspectionMethod,jdbcType=VARCHAR},
      ablation_procedure = #{ablationProcedure,jdbcType=VARCHAR},
      ablation_lines = #{ablationLines,jdbcType=VARCHAR},
      target_position = #{targetPosition,jdbcType=VARCHAR},
      ablation_energy = #{ablationEnergy,jdbcType=VARCHAR},
      ablation_judgement = #{ablationJudgement,jdbcType=VARCHAR},
      ablation_end_point = #{ablationEndPoint,jdbcType=VARCHAR},
      discharge_time = #{dischargeTime,jdbcType=VARCHAR},
      xray_exposure_time = #{xrayExposureTime,jdbcType=VARCHAR},
      ablation_times = #{ablationTimes,jdbcType=INTEGER},
      intraoperative_cable_rate = #{intraoperativeCableRate,jdbcType=VARCHAR},
      before_heart_rate = #{beforeHeartRate,jdbcType=VARCHAR},
      before_rr = #{beforeRr,jdbcType=VARCHAR},
      before_af = #{beforeAf,jdbcType=VARCHAR},
      before_remarks = #{beforeRemarks,jdbcType=VARCHAR},
      in_heart_rate = #{inHeartRate,jdbcType=VARCHAR},
      in_rr = #{inRr,jdbcType=VARCHAR},
      in_af = #{inAf,jdbcType=VARCHAR},
      in_remarks = #{inRemarks,jdbcType=VARCHAR},
      global_remarks = #{globalRemarks,jdbcType=VARCHAR},
      keyword1 = #{keyword1,jdbcType=VARCHAR},
      keyword2 = #{keyword2,jdbcType=VARCHAR},
      keyword3 = #{keyword3,jdbcType=VARCHAR},
      operation_number = #{operationNumber,jdbcType=VARCHAR},
      case_number = #{caseNumber,jdbcType=VARCHAR},
      af_frequency = #{afFrequency,jdbcType=VARCHAR},
      af_every_attack_time = #{afEveryAttackTime,jdbcType=VARCHAR},
      af_last_attack_time = #{afLastAttackTime,jdbcType=VARCHAR},
      cardioversion_method = #{cardioversionMethod,jdbcType=VARCHAR},
      cardioversion_medication = #{cardioversionMedication,jdbcType=VARCHAR},
      complication = #{complication,jdbcType=VARCHAR},
      before_antioagulant = #{beforeAntioagulant,jdbcType=VARCHAR},
      la_thrombus_detection = #{laThrombusDetection,jdbcType=VARCHAR},
      test_method = #{testMethod,jdbcType=VARCHAR},
      lung_vein = #{lungVein,jdbcType=VARCHAR},
      gp_ablation = #{gpAblation,jdbcType=VARCHAR},
      vagal_reflex = #{vagalReflex,jdbcType=VARCHAR},
      intraoperative_vagus_reflex_areas = #{intraoperativeVagusReflexAreas,jdbcType=VARCHAR},
      before_re = #{beforeRe,jdbcType=VARCHAR},
      in_re = #{inRe,jdbcType=VARCHAR},
      af_duration = #{afDuration,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="Column_List" >
    case3.*

  </sql>

  <sql id="Join_InterrogationRecord">
    INNER JOIN interrogation_record ON interrogation_record.id = case3.interrogation_record_id
    INNER JOIN patient ON patient.id = interrogation_record.patient_id
    INNER JOIN doctor ON doctor.id = interrogation_record.doctor_id
  </sql>

  <select id="queryCase3s" parameterType="org.xhome.ly.common.QueryBase" resultMap="BaseResultMap">
    SELECT
    <include refid="Column_List" />
    FROM case3

    <include refid="Join_InterrogationRecord"/>
    <if test="parameters.patientSex != null and parameters.patientSex !=''">
      AND patient.sex LIKE CONCAT('%',#{parameters.patientSex},'%')
    </if>
    <if test="parameters.patientName != null and parameters.patientName !=''">
      AND patient.name LIKE CONCAT('%',#{parameters.patientName},'%')
    </if>
    <if test="parameters.patientIdCard != null and parameters.patientIdCard !=''">
      AND patient.id_card = #{parameters.patientIdCard}
    </if>
    <if test="parameters.patientPhomeNumber != null and parameters.patientPhomeNumber !=''">
      AND patient.phone_number = #{parameters.patientPhomeNumber}
    </if>
    <if test="parameters.doctorPhomeNumber != null and parameters.doctorPhomeNumber !=''">
      AND doctor.contact_number = #{parameters.doctorPhomeNumber}
    </if>
    <if test="parameters.doctorId != null and parameters.doctorId !=''">
      AND doctor.id=#{parameters.doctorId}
    </if>
    <include refid="where_with_condition" />
    LIMIT #{firstRow}, #{maxRow}
  </select>

  <select id="countCase3s" parameterType="org.xhome.ly.common.QueryBase" resultType="long">
    SELECT COUNT(case3.id) FROM case3
    <include refid="Join_InterrogationRecord"/>
    <if test="parameters.doctorId != null and parameters.doctorId !=''">
      AND doctor.id=#{parameters.doctorId}
    </if>
    <include refid="where_with_condition" />
  </select>

  <sql id="where_with_condition">
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="parameters.start != null and parameters.end != null">AND case3.operation_data >= #{parameters.start}
        AND case3.operation_data &lt; #{parameters.end}
      </if>
      <if test="parameters.id != null and parameters.id != '' ">AND case3.id = #{parameters.id}
      </if>
      <if test="parameters.caseNumber != null and parameters.caseNumber != '' ">AND case3.case_number = #{parameters.caseNumber}
      </if>
    </trim>
  </sql>
</mapper>