<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xhome.ly.mapper.Case1Mapper" >
  <resultMap id="BaseResultMap" type="org.xhome.ly.bean.Case1" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="interrogation_record_id" property="interrogationRecordId" jdbcType="INTEGER" />
    <result column="operation_data" property="operationData" jdbcType="TIMESTAMP" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="operator_detail" property="operatorDetail" jdbcType="VARCHAR" />
    <result column="vt_type" property="vtType" jdbcType="VARCHAR" />
    <result column="vt_course_disease" property="vtCourseDisease" jdbcType="VARCHAR" />
    <result column="arrhythmia_diagnose" property="arrhythmiaDiagnose" jdbcType="VARCHAR" />
    <result column="electrophysiology_diagnose" property="electrophysiologyDiagnose" jdbcType="VARCHAR" />
    <result column="postoperation_diagnose" property="postoperationDiagnose" jdbcType="VARCHAR" />
    <result column="mechanism" property="mechanism" jdbcType="VARCHAR" />
    <result column="part" property="part" jdbcType="VARCHAR" />
    <result column="la_bore" property="laBore" jdbcType="VARCHAR" />
    <result column="lv_bore" property="lvBore" jdbcType="VARCHAR" />
    <result column="lvef_bore" property="lvefBore" jdbcType="VARCHAR" />
    <result column="ra_bore" property="raBore" jdbcType="VARCHAR" />
    <result column="rv_bore" property="rvBore" jdbcType="VARCHAR" />
    <result column="ucg_remarks" property="ucgRemarks" jdbcType="VARCHAR" />
    <result column="ecg_type" property="ecgType" jdbcType="VARCHAR" />
    <result column="electrical_offset" property="electricalOffset" jdbcType="VARCHAR" />
    <result column="preopreative_examination" property="preopreativeExamination" jdbcType="VARCHAR" />
    <result column="anti_arrhythmia_drugs" property="antiArrhythmiaDrugs" jdbcType="VARCHAR" />
    <result column="invali_danti_arrhythmia_drugs" property="invaliDantiArrhythmiaDrugs" jdbcType="VARCHAR" />
    <result column="merger_arrhythmia" property="mergerArrhythmia" jdbcType="VARCHAR" />
    <result column="imaging_inside_heart" property="imagingInsideHeart" jdbcType="VARCHAR" />
    <result column="induced_way" property="inducedWay" jdbcType="VARCHAR" />
    <result column="check_medication" property="checkMedication" jdbcType="VARCHAR" />
    <result column="tachycardia_regulation" property="tachycardiaRegulation" jdbcType="VARCHAR" />
    <result column="ccl" property="ccl" jdbcType="VARCHAR" />
    <result column="inspection_method" property="inspectionMethod" jdbcType="VARCHAR" />
    <result column="diastolic_potential" property="diastolicPotential" jdbcType="VARCHAR" />
    <result column="p_potential_examination" property="pPotentialExamination" jdbcType="VARCHAR" />
    <result column="ablation_procedure" property="ablationProcedure" jdbcType="VARCHAR" />
    <result column="ablation_lines" property="ablationLines" jdbcType="VARCHAR" />
    <result column="target_position" property="targetPosition" jdbcType="VARCHAR" />
    <result column="ablation_energy" property="ablationEnergy" jdbcType="VARCHAR" />
    <result column="ablation_judgement" property="ablationJudgement" jdbcType="VARCHAR" />
    <result column="ablation_end_point" property="ablationEndPoint" jdbcType="VARCHAR" />
    <result column="effective_target_site" property="effectiveTargetSite" jdbcType="VARCHAR" />
    <result column="discharge_time" property="dischargeTime" jdbcType="VARCHAR" />
    <result column="xray_exposure_time" property="xrayExposureTime" jdbcType="VARCHAR" />
    <result column="ablation_times" property="ablationTimes" jdbcType="INTEGER" />
    <result column="intraoperative_cable_rate" property="intraoperativeCableRate" jdbcType="VARCHAR" />
    <result column="before_heart_rate" property="beforeHeartRate" jdbcType="VARCHAR" />
    <result column="before_vt" property="beforeVt" jdbcType="VARCHAR" />
    <result column="before_ront" property="beforeRont" jdbcType="VARCHAR" />
    <result column="before_remarks" property="beforeRemarks" jdbcType="VARCHAR" />
    <result column="in_heart_rate" property="inHeartRate" jdbcType="VARCHAR" />
    <result column="in_vt" property="inVt" jdbcType="VARCHAR" />
    <result column="in_ront" property="inRont" jdbcType="VARCHAR" />
    <result column="in_remarks" property="inRemarks" jdbcType="VARCHAR" />
    <result column="global_remarks" property="globalRemarks" jdbcType="VARCHAR" />
    <result column="keyword1" property="keyword1" jdbcType="VARCHAR" />
    <result column="keyword2" property="keyword2" jdbcType="VARCHAR" />
    <result column="keyword3" property="keyword3" jdbcType="VARCHAR" />
    <result column="operation_number" property="operationNumber" jdbcType="VARCHAR" />
    <result column="case_number" property="caseNumber" jdbcType="VARCHAR" />
    <result column="vt_frequency" property="vtFrequency" jdbcType="VARCHAR" />
    <result column="vt_every_attack_time" property="vtEveryAttackTime" jdbcType="VARCHAR" />
    <result column="vt_last_attack_time" property="vtLastAttackTime" jdbcType="VARCHAR" />
    <result column="cardioversion_method" property="cardioversionMethod" jdbcType="VARCHAR" />
    <result column="cardioversion_medication" property="cardioversionMedication" jdbcType="VARCHAR" />
    <result column="complication" property="complication" jdbcType="VARCHAR" />
    <result column="vt_duration" property="vtDuration" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, interrogation_record_id, operation_data, operator_name, operator_detail, 
    vt_type, vt_course_disease, arrhythmia_diagnose, electrophysiology_diagnose, postoperation_diagnose, 
    mechanism, part, la_bore, lv_bore, lvef_bore, ra_bore, rv_bore, ucg_remarks, ecg_type, 
    electrical_offset, preopreative_examination, anti_arrhythmia_drugs, invali_danti_arrhythmia_drugs, 
    merger_arrhythmia, imaging_inside_heart, induced_way, check_medication, tachycardia_regulation, 
    ccl, inspection_method, diastolic_potential, p_potential_examination, ablation_procedure, 
    ablation_lines, target_position, ablation_energy, ablation_judgement, ablation_end_point, 
    effective_target_site, discharge_time, xray_exposure_time, ablation_times, intraoperative_cable_rate, 
    before_heart_rate, before_vt, before_ront, before_remarks, in_heart_rate, in_vt, 
    in_ront, in_remarks, global_remarks, keyword1, keyword2, keyword3, operation_number, 
    case_number, vt_frequency, vt_every_attack_time, vt_last_attack_time, cardioversion_method, 
    cardioversion_medication, complication, vt_duration
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from case1
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from case1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.xhome.ly.bean.Case1"
          useGeneratedKeys="true" keyProperty="id">
    insert into case1 (id, name, interrogation_record_id, 
      operation_data, operator_name, operator_detail, 
      vt_type, vt_course_disease, arrhythmia_diagnose, 
      electrophysiology_diagnose, postoperation_diagnose, 
      mechanism, part, la_bore, 
      lv_bore, lvef_bore, ra_bore, 
      rv_bore, ucg_remarks, ecg_type, 
      electrical_offset, preopreative_examination, 
      anti_arrhythmia_drugs, invali_danti_arrhythmia_drugs, 
      merger_arrhythmia, imaging_inside_heart, induced_way, 
      check_medication, tachycardia_regulation, 
      ccl, inspection_method, diastolic_potential, 
      p_potential_examination, ablation_procedure, 
      ablation_lines, target_position, ablation_energy, 
      ablation_judgement, ablation_end_point, effective_target_site, 
      discharge_time, xray_exposure_time, ablation_times, 
      intraoperative_cable_rate, before_heart_rate, 
      before_vt, before_ront, before_remarks, 
      in_heart_rate, in_vt, in_ront, 
      in_remarks, global_remarks, keyword1, 
      keyword2, keyword3, operation_number, 
      case_number, vt_frequency, vt_every_attack_time, 
      vt_last_attack_time, cardioversion_method, 
      cardioversion_medication, complication, 
      vt_duration)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{interrogationRecordId,jdbcType=INTEGER}, 
      #{operationData,jdbcType=TIMESTAMP}, #{operatorName,jdbcType=VARCHAR}, #{operatorDetail,jdbcType=VARCHAR}, 
      #{vtType,jdbcType=VARCHAR}, #{vtCourseDisease,jdbcType=VARCHAR}, #{arrhythmiaDiagnose,jdbcType=VARCHAR}, 
      #{electrophysiologyDiagnose,jdbcType=VARCHAR}, #{postoperationDiagnose,jdbcType=VARCHAR}, 
      #{mechanism,jdbcType=VARCHAR}, #{part,jdbcType=VARCHAR}, #{laBore,jdbcType=VARCHAR}, 
      #{lvBore,jdbcType=VARCHAR}, #{lvefBore,jdbcType=VARCHAR}, #{raBore,jdbcType=VARCHAR}, 
      #{rvBore,jdbcType=VARCHAR}, #{ucgRemarks,jdbcType=VARCHAR}, #{ecgType,jdbcType=VARCHAR}, 
      #{electricalOffset,jdbcType=VARCHAR}, #{preopreativeExamination,jdbcType=VARCHAR}, 
      #{antiArrhythmiaDrugs,jdbcType=VARCHAR}, #{invaliDantiArrhythmiaDrugs,jdbcType=VARCHAR}, 
      #{mergerArrhythmia,jdbcType=VARCHAR}, #{imagingInsideHeart,jdbcType=VARCHAR}, #{inducedWay,jdbcType=VARCHAR}, 
      #{checkMedication,jdbcType=VARCHAR}, #{tachycardiaRegulation,jdbcType=VARCHAR}, 
      #{ccl,jdbcType=VARCHAR}, #{inspectionMethod,jdbcType=VARCHAR}, #{diastolicPotential,jdbcType=VARCHAR}, 
      #{pPotentialExamination,jdbcType=VARCHAR}, #{ablationProcedure,jdbcType=VARCHAR}, 
      #{ablationLines,jdbcType=VARCHAR}, #{targetPosition,jdbcType=VARCHAR}, #{ablationEnergy,jdbcType=VARCHAR}, 
      #{ablationJudgement,jdbcType=VARCHAR}, #{ablationEndPoint,jdbcType=VARCHAR}, #{effectiveTargetSite,jdbcType=VARCHAR}, 
      #{dischargeTime,jdbcType=VARCHAR}, #{xrayExposureTime,jdbcType=VARCHAR}, #{ablationTimes,jdbcType=INTEGER}, 
      #{intraoperativeCableRate,jdbcType=VARCHAR}, #{beforeHeartRate,jdbcType=VARCHAR}, 
      #{beforeVt,jdbcType=VARCHAR}, #{beforeRont,jdbcType=VARCHAR}, #{beforeRemarks,jdbcType=VARCHAR}, 
      #{inHeartRate,jdbcType=VARCHAR}, #{inVt,jdbcType=VARCHAR}, #{inRont,jdbcType=VARCHAR}, 
      #{inRemarks,jdbcType=VARCHAR}, #{globalRemarks,jdbcType=VARCHAR}, #{keyword1,jdbcType=VARCHAR}, 
      #{keyword2,jdbcType=VARCHAR}, #{keyword3,jdbcType=VARCHAR}, #{operationNumber,jdbcType=VARCHAR}, 
      #{caseNumber,jdbcType=VARCHAR}, #{vtFrequency,jdbcType=VARCHAR}, #{vtEveryAttackTime,jdbcType=VARCHAR}, 
      #{vtLastAttackTime,jdbcType=VARCHAR}, #{cardioversionMethod,jdbcType=VARCHAR}, 
      #{cardioversionMedication,jdbcType=VARCHAR}, #{complication,jdbcType=VARCHAR}, 
      #{vtDuration,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.xhome.ly.bean.Case1" >
    insert into case1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="interrogationRecordId != null" >
        interrogation_record_id,
      </if>
      <if test="operationData != null" >
        operation_data,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="operatorDetail != null" >
        operator_detail,
      </if>
      <if test="vtType != null" >
        vt_type,
      </if>
      <if test="vtCourseDisease != null" >
        vt_course_disease,
      </if>
      <if test="arrhythmiaDiagnose != null" >
        arrhythmia_diagnose,
      </if>
      <if test="electrophysiologyDiagnose != null" >
        electrophysiology_diagnose,
      </if>
      <if test="postoperationDiagnose != null" >
        postoperation_diagnose,
      </if>
      <if test="mechanism != null" >
        mechanism,
      </if>
      <if test="part != null" >
        part,
      </if>
      <if test="laBore != null" >
        la_bore,
      </if>
      <if test="lvBore != null" >
        lv_bore,
      </if>
      <if test="lvefBore != null" >
        lvef_bore,
      </if>
      <if test="raBore != null" >
        ra_bore,
      </if>
      <if test="rvBore != null" >
        rv_bore,
      </if>
      <if test="ucgRemarks != null" >
        ucg_remarks,
      </if>
      <if test="ecgType != null" >
        ecg_type,
      </if>
      <if test="electricalOffset != null" >
        electrical_offset,
      </if>
      <if test="preopreativeExamination != null" >
        preopreative_examination,
      </if>
      <if test="antiArrhythmiaDrugs != null" >
        anti_arrhythmia_drugs,
      </if>
      <if test="invaliDantiArrhythmiaDrugs != null" >
        invali_danti_arrhythmia_drugs,
      </if>
      <if test="mergerArrhythmia != null" >
        merger_arrhythmia,
      </if>
      <if test="imagingInsideHeart != null" >
        imaging_inside_heart,
      </if>
      <if test="inducedWay != null" >
        induced_way,
      </if>
      <if test="checkMedication != null" >
        check_medication,
      </if>
      <if test="tachycardiaRegulation != null" >
        tachycardia_regulation,
      </if>
      <if test="ccl != null" >
        ccl,
      </if>
      <if test="inspectionMethod != null" >
        inspection_method,
      </if>
      <if test="diastolicPotential != null" >
        diastolic_potential,
      </if>
      <if test="pPotentialExamination != null" >
        p_potential_examination,
      </if>
      <if test="ablationProcedure != null" >
        ablation_procedure,
      </if>
      <if test="ablationLines != null" >
        ablation_lines,
      </if>
      <if test="targetPosition != null" >
        target_position,
      </if>
      <if test="ablationEnergy != null" >
        ablation_energy,
      </if>
      <if test="ablationJudgement != null" >
        ablation_judgement,
      </if>
      <if test="ablationEndPoint != null" >
        ablation_end_point,
      </if>
      <if test="effectiveTargetSite != null" >
        effective_target_site,
      </if>
      <if test="dischargeTime != null" >
        discharge_time,
      </if>
      <if test="xrayExposureTime != null" >
        xray_exposure_time,
      </if>
      <if test="ablationTimes != null" >
        ablation_times,
      </if>
      <if test="intraoperativeCableRate != null" >
        intraoperative_cable_rate,
      </if>
      <if test="beforeHeartRate != null" >
        before_heart_rate,
      </if>
      <if test="beforeVt != null" >
        before_vt,
      </if>
      <if test="beforeRont != null" >
        before_ront,
      </if>
      <if test="beforeRemarks != null" >
        before_remarks,
      </if>
      <if test="inHeartRate != null" >
        in_heart_rate,
      </if>
      <if test="inVt != null" >
        in_vt,
      </if>
      <if test="inRont != null" >
        in_ront,
      </if>
      <if test="inRemarks != null" >
        in_remarks,
      </if>
      <if test="globalRemarks != null" >
        global_remarks,
      </if>
      <if test="keyword1 != null" >
        keyword1,
      </if>
      <if test="keyword2 != null" >
        keyword2,
      </if>
      <if test="keyword3 != null" >
        keyword3,
      </if>
      <if test="operationNumber != null" >
        operation_number,
      </if>
      <if test="caseNumber != null" >
        case_number,
      </if>
      <if test="vtFrequency != null" >
        vt_frequency,
      </if>
      <if test="vtEveryAttackTime != null" >
        vt_every_attack_time,
      </if>
      <if test="vtLastAttackTime != null" >
        vt_last_attack_time,
      </if>
      <if test="cardioversionMethod != null" >
        cardioversion_method,
      </if>
      <if test="cardioversionMedication != null" >
        cardioversion_medication,
      </if>
      <if test="complication != null" >
        complication,
      </if>
      <if test="vtDuration != null" >
        vt_duration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="interrogationRecordId != null" >
        #{interrogationRecordId,jdbcType=INTEGER},
      </if>
      <if test="operationData != null" >
        #{operationData,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorDetail != null" >
        #{operatorDetail,jdbcType=VARCHAR},
      </if>
      <if test="vtType != null" >
        #{vtType,jdbcType=VARCHAR},
      </if>
      <if test="vtCourseDisease != null" >
        #{vtCourseDisease,jdbcType=VARCHAR},
      </if>
      <if test="arrhythmiaDiagnose != null" >
        #{arrhythmiaDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="electrophysiologyDiagnose != null" >
        #{electrophysiologyDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="postoperationDiagnose != null" >
        #{postoperationDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="mechanism != null" >
        #{mechanism,jdbcType=VARCHAR},
      </if>
      <if test="part != null" >
        #{part,jdbcType=VARCHAR},
      </if>
      <if test="laBore != null" >
        #{laBore,jdbcType=VARCHAR},
      </if>
      <if test="lvBore != null" >
        #{lvBore,jdbcType=VARCHAR},
      </if>
      <if test="lvefBore != null" >
        #{lvefBore,jdbcType=VARCHAR},
      </if>
      <if test="raBore != null" >
        #{raBore,jdbcType=VARCHAR},
      </if>
      <if test="rvBore != null" >
        #{rvBore,jdbcType=VARCHAR},
      </if>
      <if test="ucgRemarks != null" >
        #{ucgRemarks,jdbcType=VARCHAR},
      </if>
      <if test="ecgType != null" >
        #{ecgType,jdbcType=VARCHAR},
      </if>
      <if test="electricalOffset != null" >
        #{electricalOffset,jdbcType=VARCHAR},
      </if>
      <if test="preopreativeExamination != null" >
        #{preopreativeExamination,jdbcType=VARCHAR},
      </if>
      <if test="antiArrhythmiaDrugs != null" >
        #{antiArrhythmiaDrugs,jdbcType=VARCHAR},
      </if>
      <if test="invaliDantiArrhythmiaDrugs != null" >
        #{invaliDantiArrhythmiaDrugs,jdbcType=VARCHAR},
      </if>
      <if test="mergerArrhythmia != null" >
        #{mergerArrhythmia,jdbcType=VARCHAR},
      </if>
      <if test="imagingInsideHeart != null" >
        #{imagingInsideHeart,jdbcType=VARCHAR},
      </if>
      <if test="inducedWay != null" >
        #{inducedWay,jdbcType=VARCHAR},
      </if>
      <if test="checkMedication != null" >
        #{checkMedication,jdbcType=VARCHAR},
      </if>
      <if test="tachycardiaRegulation != null" >
        #{tachycardiaRegulation,jdbcType=VARCHAR},
      </if>
      <if test="ccl != null" >
        #{ccl,jdbcType=VARCHAR},
      </if>
      <if test="inspectionMethod != null" >
        #{inspectionMethod,jdbcType=VARCHAR},
      </if>
      <if test="diastolicPotential != null" >
        #{diastolicPotential,jdbcType=VARCHAR},
      </if>
      <if test="pPotentialExamination != null" >
        #{pPotentialExamination,jdbcType=VARCHAR},
      </if>
      <if test="ablationProcedure != null" >
        #{ablationProcedure,jdbcType=VARCHAR},
      </if>
      <if test="ablationLines != null" >
        #{ablationLines,jdbcType=VARCHAR},
      </if>
      <if test="targetPosition != null" >
        #{targetPosition,jdbcType=VARCHAR},
      </if>
      <if test="ablationEnergy != null" >
        #{ablationEnergy,jdbcType=VARCHAR},
      </if>
      <if test="ablationJudgement != null" >
        #{ablationJudgement,jdbcType=VARCHAR},
      </if>
      <if test="ablationEndPoint != null" >
        #{ablationEndPoint,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTargetSite != null" >
        #{effectiveTargetSite,jdbcType=VARCHAR},
      </if>
      <if test="dischargeTime != null" >
        #{dischargeTime,jdbcType=VARCHAR},
      </if>
      <if test="xrayExposureTime != null" >
        #{xrayExposureTime,jdbcType=VARCHAR},
      </if>
      <if test="ablationTimes != null" >
        #{ablationTimes,jdbcType=INTEGER},
      </if>
      <if test="intraoperativeCableRate != null" >
        #{intraoperativeCableRate,jdbcType=VARCHAR},
      </if>
      <if test="beforeHeartRate != null" >
        #{beforeHeartRate,jdbcType=VARCHAR},
      </if>
      <if test="beforeVt != null" >
        #{beforeVt,jdbcType=VARCHAR},
      </if>
      <if test="beforeRont != null" >
        #{beforeRont,jdbcType=VARCHAR},
      </if>
      <if test="beforeRemarks != null" >
        #{beforeRemarks,jdbcType=VARCHAR},
      </if>
      <if test="inHeartRate != null" >
        #{inHeartRate,jdbcType=VARCHAR},
      </if>
      <if test="inVt != null" >
        #{inVt,jdbcType=VARCHAR},
      </if>
      <if test="inRont != null" >
        #{inRont,jdbcType=VARCHAR},
      </if>
      <if test="inRemarks != null" >
        #{inRemarks,jdbcType=VARCHAR},
      </if>
      <if test="globalRemarks != null" >
        #{globalRemarks,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        #{keyword3,jdbcType=VARCHAR},
      </if>
      <if test="operationNumber != null" >
        #{operationNumber,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="vtFrequency != null" >
        #{vtFrequency,jdbcType=VARCHAR},
      </if>
      <if test="vtEveryAttackTime != null" >
        #{vtEveryAttackTime,jdbcType=VARCHAR},
      </if>
      <if test="vtLastAttackTime != null" >
        #{vtLastAttackTime,jdbcType=VARCHAR},
      </if>
      <if test="cardioversionMethod != null" >
        #{cardioversionMethod,jdbcType=VARCHAR},
      </if>
      <if test="cardioversionMedication != null" >
        #{cardioversionMedication,jdbcType=VARCHAR},
      </if>
      <if test="complication != null" >
        #{complication,jdbcType=VARCHAR},
      </if>
      <if test="vtDuration != null" >
        #{vtDuration,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xhome.ly.bean.Case1" >
    update case1
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="interrogationRecordId != null" >
        interrogation_record_id = #{interrogationRecordId,jdbcType=INTEGER},
      </if>
      <if test="operationData != null" >
        operation_data = #{operationData,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorDetail != null" >
        operator_detail = #{operatorDetail,jdbcType=VARCHAR},
      </if>
      <if test="vtType != null" >
        vt_type = #{vtType,jdbcType=VARCHAR},
      </if>
      <if test="vtCourseDisease != null" >
        vt_course_disease = #{vtCourseDisease,jdbcType=VARCHAR},
      </if>
      <if test="arrhythmiaDiagnose != null" >
        arrhythmia_diagnose = #{arrhythmiaDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="electrophysiologyDiagnose != null" >
        electrophysiology_diagnose = #{electrophysiologyDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="postoperationDiagnose != null" >
        postoperation_diagnose = #{postoperationDiagnose,jdbcType=VARCHAR},
      </if>
      <if test="mechanism != null" >
        mechanism = #{mechanism,jdbcType=VARCHAR},
      </if>
      <if test="part != null" >
        part = #{part,jdbcType=VARCHAR},
      </if>
      <if test="laBore != null" >
        la_bore = #{laBore,jdbcType=VARCHAR},
      </if>
      <if test="lvBore != null" >
        lv_bore = #{lvBore,jdbcType=VARCHAR},
      </if>
      <if test="lvefBore != null" >
        lvef_bore = #{lvefBore,jdbcType=VARCHAR},
      </if>
      <if test="raBore != null" >
        ra_bore = #{raBore,jdbcType=VARCHAR},
      </if>
      <if test="rvBore != null" >
        rv_bore = #{rvBore,jdbcType=VARCHAR},
      </if>
      <if test="ucgRemarks != null" >
        ucg_remarks = #{ucgRemarks,jdbcType=VARCHAR},
      </if>
      <if test="ecgType != null" >
        ecg_type = #{ecgType,jdbcType=VARCHAR},
      </if>
      <if test="electricalOffset != null" >
        electrical_offset = #{electricalOffset,jdbcType=VARCHAR},
      </if>
      <if test="preopreativeExamination != null" >
        preopreative_examination = #{preopreativeExamination,jdbcType=VARCHAR},
      </if>
      <if test="antiArrhythmiaDrugs != null" >
        anti_arrhythmia_drugs = #{antiArrhythmiaDrugs,jdbcType=VARCHAR},
      </if>
      <if test="invaliDantiArrhythmiaDrugs != null" >
        invali_danti_arrhythmia_drugs = #{invaliDantiArrhythmiaDrugs,jdbcType=VARCHAR},
      </if>
      <if test="mergerArrhythmia != null" >
        merger_arrhythmia = #{mergerArrhythmia,jdbcType=VARCHAR},
      </if>
      <if test="imagingInsideHeart != null" >
        imaging_inside_heart = #{imagingInsideHeart,jdbcType=VARCHAR},
      </if>
      <if test="inducedWay != null" >
        induced_way = #{inducedWay,jdbcType=VARCHAR},
      </if>
      <if test="checkMedication != null" >
        check_medication = #{checkMedication,jdbcType=VARCHAR},
      </if>
      <if test="tachycardiaRegulation != null" >
        tachycardia_regulation = #{tachycardiaRegulation,jdbcType=VARCHAR},
      </if>
      <if test="ccl != null" >
        ccl = #{ccl,jdbcType=VARCHAR},
      </if>
      <if test="inspectionMethod != null" >
        inspection_method = #{inspectionMethod,jdbcType=VARCHAR},
      </if>
      <if test="diastolicPotential != null" >
        diastolic_potential = #{diastolicPotential,jdbcType=VARCHAR},
      </if>
      <if test="pPotentialExamination != null" >
        p_potential_examination = #{pPotentialExamination,jdbcType=VARCHAR},
      </if>
      <if test="ablationProcedure != null" >
        ablation_procedure = #{ablationProcedure,jdbcType=VARCHAR},
      </if>
      <if test="ablationLines != null" >
        ablation_lines = #{ablationLines,jdbcType=VARCHAR},
      </if>
      <if test="targetPosition != null" >
        target_position = #{targetPosition,jdbcType=VARCHAR},
      </if>
      <if test="ablationEnergy != null" >
        ablation_energy = #{ablationEnergy,jdbcType=VARCHAR},
      </if>
      <if test="ablationJudgement != null" >
        ablation_judgement = #{ablationJudgement,jdbcType=VARCHAR},
      </if>
      <if test="ablationEndPoint != null" >
        ablation_end_point = #{ablationEndPoint,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTargetSite != null" >
        effective_target_site = #{effectiveTargetSite,jdbcType=VARCHAR},
      </if>
      <if test="dischargeTime != null" >
        discharge_time = #{dischargeTime,jdbcType=VARCHAR},
      </if>
      <if test="xrayExposureTime != null" >
        xray_exposure_time = #{xrayExposureTime,jdbcType=VARCHAR},
      </if>
      <if test="ablationTimes != null" >
        ablation_times = #{ablationTimes,jdbcType=INTEGER},
      </if>
      <if test="intraoperativeCableRate != null" >
        intraoperative_cable_rate = #{intraoperativeCableRate,jdbcType=VARCHAR},
      </if>
      <if test="beforeHeartRate != null" >
        before_heart_rate = #{beforeHeartRate,jdbcType=VARCHAR},
      </if>
      <if test="beforeVt != null" >
        before_vt = #{beforeVt,jdbcType=VARCHAR},
      </if>
      <if test="beforeRont != null" >
        before_ront = #{beforeRont,jdbcType=VARCHAR},
      </if>
      <if test="beforeRemarks != null" >
        before_remarks = #{beforeRemarks,jdbcType=VARCHAR},
      </if>
      <if test="inHeartRate != null" >
        in_heart_rate = #{inHeartRate,jdbcType=VARCHAR},
      </if>
      <if test="inVt != null" >
        in_vt = #{inVt,jdbcType=VARCHAR},
      </if>
      <if test="inRont != null" >
        in_ront = #{inRont,jdbcType=VARCHAR},
      </if>
      <if test="inRemarks != null" >
        in_remarks = #{inRemarks,jdbcType=VARCHAR},
      </if>
      <if test="globalRemarks != null" >
        global_remarks = #{globalRemarks,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        keyword1 = #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        keyword2 = #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        keyword3 = #{keyword3,jdbcType=VARCHAR},
      </if>
      <if test="operationNumber != null" >
        operation_number = #{operationNumber,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        case_number = #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="vtFrequency != null" >
        vt_frequency = #{vtFrequency,jdbcType=VARCHAR},
      </if>
      <if test="vtEveryAttackTime != null" >
        vt_every_attack_time = #{vtEveryAttackTime,jdbcType=VARCHAR},
      </if>
      <if test="vtLastAttackTime != null" >
        vt_last_attack_time = #{vtLastAttackTime,jdbcType=VARCHAR},
      </if>
      <if test="cardioversionMethod != null" >
        cardioversion_method = #{cardioversionMethod,jdbcType=VARCHAR},
      </if>
      <if test="cardioversionMedication != null" >
        cardioversion_medication = #{cardioversionMedication,jdbcType=VARCHAR},
      </if>
      <if test="complication != null" >
        complication = #{complication,jdbcType=VARCHAR},
      </if>
      <if test="vtDuration != null" >
        vt_duration = #{vtDuration,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xhome.ly.bean.Case1" >
    update case1
    set name = #{name,jdbcType=VARCHAR},
      interrogation_record_id = #{interrogationRecordId,jdbcType=INTEGER},
      operation_data = #{operationData,jdbcType=TIMESTAMP},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operator_detail = #{operatorDetail,jdbcType=VARCHAR},
      vt_type = #{vtType,jdbcType=VARCHAR},
      vt_course_disease = #{vtCourseDisease,jdbcType=VARCHAR},
      arrhythmia_diagnose = #{arrhythmiaDiagnose,jdbcType=VARCHAR},
      electrophysiology_diagnose = #{electrophysiologyDiagnose,jdbcType=VARCHAR},
      postoperation_diagnose = #{postoperationDiagnose,jdbcType=VARCHAR},
      mechanism = #{mechanism,jdbcType=VARCHAR},
      part = #{part,jdbcType=VARCHAR},
      la_bore = #{laBore,jdbcType=VARCHAR},
      lv_bore = #{lvBore,jdbcType=VARCHAR},
      lvef_bore = #{lvefBore,jdbcType=VARCHAR},
      ra_bore = #{raBore,jdbcType=VARCHAR},
      rv_bore = #{rvBore,jdbcType=VARCHAR},
      ucg_remarks = #{ucgRemarks,jdbcType=VARCHAR},
      ecg_type = #{ecgType,jdbcType=VARCHAR},
      electrical_offset = #{electricalOffset,jdbcType=VARCHAR},
      preopreative_examination = #{preopreativeExamination,jdbcType=VARCHAR},
      anti_arrhythmia_drugs = #{antiArrhythmiaDrugs,jdbcType=VARCHAR},
      invali_danti_arrhythmia_drugs = #{invaliDantiArrhythmiaDrugs,jdbcType=VARCHAR},
      merger_arrhythmia = #{mergerArrhythmia,jdbcType=VARCHAR},
      imaging_inside_heart = #{imagingInsideHeart,jdbcType=VARCHAR},
      induced_way = #{inducedWay,jdbcType=VARCHAR},
      check_medication = #{checkMedication,jdbcType=VARCHAR},
      tachycardia_regulation = #{tachycardiaRegulation,jdbcType=VARCHAR},
      ccl = #{ccl,jdbcType=VARCHAR},
      inspection_method = #{inspectionMethod,jdbcType=VARCHAR},
      diastolic_potential = #{diastolicPotential,jdbcType=VARCHAR},
      p_potential_examination = #{pPotentialExamination,jdbcType=VARCHAR},
      ablation_procedure = #{ablationProcedure,jdbcType=VARCHAR},
      ablation_lines = #{ablationLines,jdbcType=VARCHAR},
      target_position = #{targetPosition,jdbcType=VARCHAR},
      ablation_energy = #{ablationEnergy,jdbcType=VARCHAR},
      ablation_judgement = #{ablationJudgement,jdbcType=VARCHAR},
      ablation_end_point = #{ablationEndPoint,jdbcType=VARCHAR},
      effective_target_site = #{effectiveTargetSite,jdbcType=VARCHAR},
      discharge_time = #{dischargeTime,jdbcType=VARCHAR},
      xray_exposure_time = #{xrayExposureTime,jdbcType=VARCHAR},
      ablation_times = #{ablationTimes,jdbcType=INTEGER},
      intraoperative_cable_rate = #{intraoperativeCableRate,jdbcType=VARCHAR},
      before_heart_rate = #{beforeHeartRate,jdbcType=VARCHAR},
      before_vt = #{beforeVt,jdbcType=VARCHAR},
      before_ront = #{beforeRont,jdbcType=VARCHAR},
      before_remarks = #{beforeRemarks,jdbcType=VARCHAR},
      in_heart_rate = #{inHeartRate,jdbcType=VARCHAR},
      in_vt = #{inVt,jdbcType=VARCHAR},
      in_ront = #{inRont,jdbcType=VARCHAR},
      in_remarks = #{inRemarks,jdbcType=VARCHAR},
      global_remarks = #{globalRemarks,jdbcType=VARCHAR},
      keyword1 = #{keyword1,jdbcType=VARCHAR},
      keyword2 = #{keyword2,jdbcType=VARCHAR},
      keyword3 = #{keyword3,jdbcType=VARCHAR},
      operation_number = #{operationNumber,jdbcType=VARCHAR},
      case_number = #{caseNumber,jdbcType=VARCHAR},
      vt_frequency = #{vtFrequency,jdbcType=VARCHAR},
      vt_every_attack_time = #{vtEveryAttackTime,jdbcType=VARCHAR},
      vt_last_attack_time = #{vtLastAttackTime,jdbcType=VARCHAR},
      cardioversion_method = #{cardioversionMethod,jdbcType=VARCHAR},
      cardioversion_medication = #{cardioversionMedication,jdbcType=VARCHAR},
      complication = #{complication,jdbcType=VARCHAR},
      vt_duration = #{vtDuration,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="Column_List" >
    case1.id, case1.name, case1.interrogation_record_id, case1.operation_data, case1.operator_name, case1.operator_detail,
    case1.vt_type, case1.vt_course_disease, case1.arrhythmia_diagnose, case1.electrophysiology_diagnose, case1.postoperation_diagnose,
    case1.mechanism, case1.part, case1.la_bore, case1.lv_bore, case1.lvef_bore, case1.ra_bore, case1.rv_bore, case1.ucg_remarks, ecg_type,
    case1.electrical_offset, case1.preopreative_examination, case1.anti_arrhythmia_drugs, case1.invali_danti_arrhythmia_drugs,
    case1.merger_arrhythmia, case1.imaging_inside_heart, case1.induced_way, case1.check_medication, case1.tachycardia_regulation,
    case1.ccl, case1.inspection_method, case1.diastolic_potential, case1.p_potential_examination, case1.ablation_procedure,
    case1.ablation_lines, case1.target_position, case1.ablation_energy, case1.ablation_judgement, case1.ablation_end_point,
    case1.effective_target_site, case1.discharge_time, case1.xray_exposure_time, case1.ablation_times, case1.intraoperative_cable_rate,
    case1.before_heart_rate, case1.before_vt, case1.before_ront, case1.before_remarks, case1.in_heart_rate, case1.in_vt,
    case1.in_ront, case1.in_remarks,case1.global_remarks, case1.keyword1, case1.keyword2, case1.keyword3,case1.operation_number, case1.case_number,
    case1.vt_frequency,case1.vt_every_attack_time, case1.vt_last_attack_time, case1.cardioversion_method,
    case1.cardioversion_medication, case1.complication
  </sql>

  <sql id="Join_InterrogationRecord">
    INNER JOIN interrogation_record ON interrogation_record.id = case1.interrogation_record_id
    INNER JOIN patient ON patient.id = interrogation_record.patient_id
    INNER JOIN doctor ON doctor.id = interrogation_record.doctor_id
  </sql>

  <select id="queryCase1s" parameterType="org.xhome.ly.common.QueryBase" resultMap="BaseResultMap">
    SELECT
    <include refid="Column_List" />
    FROM case1

    <include refid="Join_InterrogationRecord"/>
    <if test="parameters.patientSex != null and parameters.patientSex !=''">
      AND patient.sex LIKE CONCAT('%',#{parameters.patientSex},'%')
    </if>
    <if test="parameters.patientName != null and parameters.patientName !=''">
      AND patient.name LIKE CONCAT('%',#{parameters.patientName},'%')
    </if>
    <if test="parameters.patientIdCard != null and parameters.patientIdCard !=''">
      AND patient.id_card = #{parameters.patientIdCard}
    </if>
    <if test="parameters.patientPhomeNumber != null and parameters.patientPhomeNumber !=''">
      AND patient.phone_number = #{parameters.patientPhomeNumber}
    </if>
    <if test="parameters.doctorPhomeNumber != null and parameters.doctorPhomeNumber !=''">
      AND doctor.contact_number = #{parameters.doctorPhomeNumber}
    </if>
    <if test="parameters.doctorId != null and parameters.doctorId !=''">
      AND doctor.id=#{parameters.doctorId}
    </if>
    <include refid="where_with_condition" />
    LIMIT #{firstRow}, #{maxRow}
  </select>

  <select id="countCase1s" parameterType="org.xhome.ly.common.QueryBase" resultType="long">
    SELECT COUNT(case1.id) FROM case1
    <include refid="Join_InterrogationRecord"/>
    <if test="parameters.doctorId != null and parameters.doctorId !=''">
      AND doctor.id=#{parameters.doctorId}
    </if>
    <include refid="where_with_condition" />
  </select>

  <sql id="where_with_condition">
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="parameters.start != null and parameters.end != null">AND case1.operation_data >= #{parameters.start}
        AND case1.operation_data &lt; #{parameters.end}
      </if>
      <if test="parameters.id != null and parameters.id != '' ">AND case1.id = #{parameters.id}
      </if>
      <if test="parameters.caseNumber != null and parameters.caseNumber != '' ">AND case1.case_number = #{parameters.caseNumber}
      </if>
    </trim>
  </sql>

</mapper>