<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xhome.ly.mapper.InterrogationRecordMapper" >
  <resultMap id="BaseResultMap" type="org.xhome.ly.bean.InterrogationRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="doctor_id" property="doctorId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="case_type" property="caseType" jdbcType="VARCHAR" />
    <result column="keyword1" property="keyword1" jdbcType="VARCHAR" />
    <result column="keyword2" property="keyword2" jdbcType="VARCHAR" />
    <result column="keyword3" property="keyword3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, doctor_id, patient_id, case_type, keyword1, keyword2, keyword3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from interrogation_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from interrogation_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.xhome.ly.bean.InterrogationRecord" >
    insert into interrogation_record (id, doctor_id, patient_id, 
      case_type, keyword1, keyword2, 
      keyword3)
    values (#{id,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER}, #{patientId,jdbcType=INTEGER}, 
      #{caseType,jdbcType=VARCHAR}, #{keyword1,jdbcType=VARCHAR}, #{keyword2,jdbcType=VARCHAR}, 
      #{keyword3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.xhome.ly.bean.InterrogationRecord" >
    insert into interrogation_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="caseType != null" >
        case_type,
      </if>
      <if test="keyword1 != null" >
        keyword1,
      </if>
      <if test="keyword2 != null" >
        keyword2,
      </if>
      <if test="keyword3 != null" >
        keyword3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        #{keyword3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xhome.ly.bean.InterrogationRecord" >
    update interrogation_record
    <set >
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        case_type = #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        keyword1 = #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        keyword2 = #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        keyword3 = #{keyword3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xhome.ly.bean.InterrogationRecord" >
    update interrogation_record
    set doctor_id = #{doctorId,jdbcType=INTEGER},
      patient_id = #{patientId,jdbcType=INTEGER},
      case_type = #{caseType,jdbcType=VARCHAR},
      keyword1 = #{keyword1,jdbcType=VARCHAR},
      keyword2 = #{keyword2,jdbcType=VARCHAR},
      keyword3 = #{keyword3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="queryInterrogationRecords" parameterType="org.xhome.cy.common.QueryBase" resultMap="BaseResultMap">
    SELECT * FROM interrogation_record
    <include refid="where_with_condition" />
    LIMIT #{firstRow}, #{maxRow}
  </select>

  <select id="countInterrogationRecords" parameterType="org.xhome.cy.common.QueryBase" resultType="long">
    SELECT COUNT(id) FROM interrogation_record
    <include refid="where_with_condition" />
  </select>

  <sql id="where_with_condition">
    <trim prefix="WHERE" prefixOverrides="AND">
    </trim>
  </sql>
</mapper>