<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xhome.ly.mapper.MedicalHistoryMapper" >
  <resultMap id="BaseResultMap" type="org.xhome.ly.bean.MedicalHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="oprate_time" property="oprateTime" jdbcType="TIMESTAMP" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="keyword1" property="keyword1" jdbcType="VARCHAR" />
    <result column="keyword2" property="keyword2" jdbcType="VARCHAR" />
    <result column="keyword3" property="keyword3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Column_List" >
    medical_history.id, medical_history.patient_id, medical_history.type_name, medical_history.oprate_time, medical_history.detail,
     medical_history.keyword1, medical_history.keyword2, medical_history.keyword3
  </sql>

  <sql id="Base_Column_List" >
    id, patient_id, type_name, oprate_time, detail, keyword1, keyword2, keyword3
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from medical_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from medical_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.xhome.ly.bean.MedicalHistory"
          useGeneratedKeys="true" keyProperty="id">
    insert into medical_history (id, patient_id, type_name, 
      oprate_time, detail, keyword1, 
      keyword2, keyword3)
    values (#{id,jdbcType=INTEGER}, #{patientId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, 
      #{oprateTime,jdbcType=TIMESTAMP}, #{detail,jdbcType=VARCHAR}, #{keyword1,jdbcType=VARCHAR}, 
      #{keyword2,jdbcType=VARCHAR}, #{keyword3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.xhome.ly.bean.MedicalHistory" >
    insert into medical_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="oprateTime != null" >
        oprate_time,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="keyword1 != null" >
        keyword1,
      </if>
      <if test="keyword2 != null" >
        keyword2,
      </if>
      <if test="keyword3 != null" >
        keyword3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="oprateTime != null" >
        #{oprateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        #{keyword3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xhome.ly.bean.MedicalHistory" >
    update medical_history
    <set >
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="oprateTime != null" >
        oprate_time = #{oprateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        keyword1 = #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        keyword2 = #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        keyword3 = #{keyword3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xhome.ly.bean.MedicalHistory" >
    update medical_history
    set patient_id = #{patientId,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=VARCHAR},
      oprate_time = #{oprateTime,jdbcType=TIMESTAMP},
      detail = #{detail,jdbcType=VARCHAR},
      keyword1 = #{keyword1,jdbcType=VARCHAR},
      keyword2 = #{keyword2,jdbcType=VARCHAR},
      keyword3 = #{keyword3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="queryMedicalHistorys" parameterType="org.xhome.ly.common.QueryBase" resultMap="BaseResultMap">
    SELECT
    <include refid= "Column_List"/>
    FROM medical_history
    <if test="parameters.patientId != null and parameters.patientId !=''">
      INNER JOIN patient ON patient.id=medical_history.patient_id
      AND patient.id=#{parameters.patientId}

    </if>
    <include refid="where_with_condition" />
    LIMIT #{firstRow}, #{maxRow}
  </select>

  <select id="countMedicalHistorys" parameterType="org.xhome.ly.common.QueryBase" resultType="long">
    SELECT COUNT(id) FROM medical_history
    <include refid="where_with_condition" />
  </select>

  <sql id="where_with_condition">
    <trim prefix="WHERE" prefixOverrides="AND">
    </trim>
  </sql>
</mapper>